.night-theme {
    --lightGray: #202126;
    --mainTransparent: rgba(0, 163, 155, 0.48);
    --leftIntenseSidebarShadow: 2px 7px 30px rgba(0, 0, 0, 0.21), 2px 3px 6px hsla(0, 0%, 0%, 0.11);
    --leftSidebarShadow: none;
    --rightSidebarShadow: none;
    --separationLines: #0d0e11;
    --turquoiseDrag: #999999;
    --headerShadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    --projectIconBackground: #202125;
    --agendaMainTaskBackground: #121317;
    --tabColor: #bfbfbf;
    --agendaTaskBackground: #121317;
    --iconButton: #0e0e0e;
    --iconButtonHover: #121317;
    --iconButtonLight: #0e0e0e;
    --iconButtonLightHover: #121317;
    --dialogBoxShadow: none;
    --pocketChooser: #17181c;
    --chooserButton: #17181c;
    --chooserHover: #121317;
    --chooserContentBackground: #202125;
    --lineColor: #1d1d1d;
    --scheduledOpacity: 0.4;
    --mainItemBackground: #202125;
    --itemHover: #121317;
    --noBGItemHover: #121317;
    --subtaskHover: #202125;
    --strategyOpacity: 0.7;
    --taskShadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.03);
    --mainTaskShadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.03);
    --insetItemShadow: none;
    --insetItemShadowFirst: none;
    --backgroundLighterHoverBack: #141414;
    --timeColor: #00a39b;
    --timeBoxColor: #00a39b;
    --linkColor: #00a39b;
    --checkColor: #00928a;
    --plannerGridColor: #292929;
    --bargraphLinesOpacity: 0.2;
    --hasColor: #00a39b;
    --brightColor: #00a39b;
    --timeGoalsBorder: none;
    --timeGoalsProgress: #3c3c3c;
    --timeGoalsBackground: #202125;
    --selectedTask: #35363b;
    --selectedTaskText: #bfbfbf;
    --sectionTitleColor: #bfbfbf;
    --completedTitleColor: #bfbfbf;
    --hoverShadow: none;
    --scrollBar: #020202;
    --scrollBarTrack: #17181c;
    --sidebarCalendarSelectedBackground: #020202;
    --sidebarCalendarHoverBackground: #020202;
    --sidebarCalendarSelectedForeground: #fff;
    --sidebarCalendarNav: #909090;
    --sidebarCalendarTitle: #909090;
    --sidebarCalendarDayName: #909090;
    --sidebarCalendarDay: #909090;
    --sidebarCalendarToday: #909090;
    --sidebarCalendarTodayButton: #909090;
    --roundButtonBorderColor: #272727;
    --textPicked: #00a39b;
    --bucketBackground: #151515;
    --dayPlanHighlightBackground: #00a39b;
    --dayPlanHighlightDarker: #4bb3af;
    --mainTasksDeleteIcon: #3c3c3c;
    --iconColor: #b3b3b3;
    --rtLabelColor: #909090;
    --littleLabelColor: #909090;
    --iconHoverColor: #00a39b;
    --transparentNoteText: #9e9e9e;
    --mainGhostColor: #909090;
    --ghostColor: #585858;
    --disabledGhostColor: rgba(88, 88, 88, 0.5);
    --mainBackground: #16171b;
    --whiteBackground: #16171b;
    --backgroundLight: #202125;
    --panelHover: #202125;
    --mainInputBackground: #202125;
    --inputBackground: #202125;
    --mainInputPlaceholder: #6d6c6c;
    --placeholder: #6d6c6c;
    --mainInputBorder: #3c3c3c;
    --mainInputTextColor: #9e9e9e;
    --turquoiseBright: #00a39b;
    --turquoiseDark: #00867f;
    --turquoiseDarker: #00867f;
    --turquoiseShadow: #005450;
    --calendarBackground: #16171c;
    --calendarBorderColor: #27292f;
    --calendarTitle: #d8d8d4;
    --greenBright: #aec10e;
    --blue: #4a4a4a;
    --blueDarker: #909090;
    --orangeBright: #ef9b1d;
    --yellowBright: #fff93b;
    --redBright: #ef2f46;
    --redDarker: #da2337;
    --shadow: #000;
    --backgroundDarker: #202126;
    --mainBackgroundDarker: #202125;
    --pocketColor: #121317;
    --backgroundDark: #0e0f12;
    --backgroundLighter: #202125;
    --itemColored: #202125;
    --backgroundLighterAlt: #202020;
    --checkboxBackgroundColor: #3e3f43;
    --checkboxBorderColor: #3f3f45;
    --explanationBackground: #202125;
    --mainTaskColor: #202125;
    --inboxColor: #b3b3b3;
    --mainTaskBorder: #1d1d1d;
    --mainTaskMarginBottom: 5px;
    --mainTaskTextColor: #9e9e9e;
    --mainTaskInputBackground: #3c3c3c;
    --transparentBackground: rgba(72, 72, 72, 0.5);
    --textColor: #bfbfbf;
    --mediumText: #bfbfbf;
    --inputText: #bfbfbf;
    --blueText: #bfbfbf;
    --hamburgerColor: #909090;
    --calendarButtonHover: #020202;
    --sidebarText: #bfbfbf;
    --sidebarButtonHoverText: #bfbfbf;
    --sidebarButtonSelectedText: #bfbfbf;
    --sidebarButtonHoverBackground: #020202;
    --sidebarCalendarButtonHoverBackground: #020202;
    --sidebarCalendarButtonHoverText: #a7a7a7;
    --grayedOut: #808185;
    --checkDone: #aaa;
    --boxBorderColor: #383838;
    --boxBorderColorLight: transparent;
    --itemBorder: #6b6b6b;
    --midBorderColor: #222;
    --darkBorderColor: #1b1b1b;
    --dialogBackground: #17181c;
    --focusModeBackground: #16171b;
    --focusModeMotivation: #676d6d;
    --focusControlButtons: #676d6d;
    --focusControlButtonsHover: #00a39b;
    --skipBackground: #676d6d;
    --skipText: #dcdcdc;
    --sidebarDayDisplay: #121317;
    --sidebarBackground: #121317;
    --sidebarButtons: #202126;
    --sidebarButtonsHover: #111;
    --sidebarButton: #16171c;
    --sidebarButtonDarker: #000;
    --sidebarButtonHover: #020202;
    --sidebarButtonText: #e8eaf7;
    --sidebarBorder: #000;
    --sidebarBigDate: #e8eaf7;
    --sidebarBigShadow: 2px 1px 2px rgba(44, 116, 113, 0.29);
    --aroundShadow: 0 0 15px 0 rgba(0, 0, 0, 0.21);
    --greenAccessButton: #202125;
    --orangeAccessButton: #202125;
    --redAccessButton: #202125;
    --blueAccessButton: #202125;
    --turquoiseAccessButton: #202125;
    --accessButtonText: #e8eaf7;
    --quickAccessMenuBorder: #1b1b1b;
    --quickAccessShadow: none;
    --logoContainer: #202125;
    --sidebarBorderMain: none;
    --switchOff: #17181c;
    --calendarCurrent: #00a39b;
    --completionBar: #3c3c3c;
    --roundButton: #00a39b;
    --roundButtonHover: #00867f;
    --roundButtonActive: #00867f;
    --main: #00a39b;
    --mainDarker: #00867f;
    --lightMain: #6b6b6b;
    --transparencyLevel: 0.8;
    --bigTaskBackground: #1a1a1a;
    --lines: #6b6b6b;
    --mainLines: #6b6b6b;
    --selectedButton: #97b21f;
    --graphHover: #020202;
    --hoverTags: #020202;
}