.dateTimeContainer{
    display: inline-block;
    padding: 5px;
}

.dateTimeLabel{
    display: block;
    padding: 5px;
}

.dateTimeDateTimeData{
    display: inline-flex;

}

.dateTimeDateContainer{
    padding: 5px;
}

.dateTimeTimeContainer{
    padding: 5px;
}